USE [master]
GO
/****** Object:  Database [ExaminationSytem]    Script Date: 1/22/2022 4:09:54 PM ******/
CREATE DATABASE [ExaminationSytem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExaminationSytem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ExaminationSytem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExaminationSytem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ExaminationSytem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExaminationSytem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExaminationSytem]
GO
/****** Object:  Table [dbo].[Choices]    Script Date: 1/22/2022 4:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Choices](
	[q_ID] [int] NOT NULL,
	[choice1] [nvarchar](20) NOT NULL,
	[choice2] [nvarchar](20) NOT NULL,
	[choice3] [nvarchar](20) NOT NULL,
	[choice4] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[choice1] ASC,
	[q_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 1/22/2022 4:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[cID] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](20) NOT NULL,
	[duration] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 1/22/2022 4:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[depID] [nvarchar](5) NOT NULL,
	[depName] [nvarchar](20) NOT NULL,
	[depDescription] [nvarchar](50) NULL,
	[ins_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[depID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[depName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 1/22/2022 4:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[Exam_ID] [int] IDENTITY(1,1) NOT NULL,
	[Exam_Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Exam_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ins_Crs]    Script Date: 1/22/2022 4:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ins_Crs](
	[ins_ID] [int] NOT NULL,
	[crs_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ins_ID] ASC,
	[crs_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructor]    Script Date: 1/22/2022 4:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor](
	[insID] [int] NOT NULL,
	[salary] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[insID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 1/22/2022 4:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[questionID] [int] IDENTITY(1,1) NOT NULL,
	[questionText] [nvarchar](30) NOT NULL,
	[answer] [nvarchar](1) NOT NULL,
	[qType] [nvarchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[questionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[St_Ex_Ch]    Script Date: 1/22/2022 4:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[St_Ex_Ch](
	[Std_ID] [int] NOT NULL,
	[Exam_ID] [int] NOT NULL,
	[questionID] [int] NOT NULL,
	[St_Answer] [nvarchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Std_ID] ASC,
	[Exam_ID] ASC,
	[questionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Std_Crs]    Script Date: 1/22/2022 4:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Std_Crs](
	[std_ID] [int] NOT NULL,
	[crs_ID] [int] NOT NULL,
	[grade] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[std_ID] ASC,
	[crs_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 1/22/2022 4:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[stuID] [int] NOT NULL,
	[gradYear] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[stuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 1/22/2022 4:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[topicID] [int] IDENTITY(1,1) NOT NULL,
	[topicName] [nvarchar](20) NOT NULL,
	[crs_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[topicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Userr]    Script Date: 1/22/2022 4:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Userr](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [nvarchar](20) NULL,
	[lastName] [nvarchar](20) NULL,
	[email] [nvarchar](15) NOT NULL,
	[userName] [nvarchar](15) NOT NULL,
	[passKey] [nvarchar](15) NOT NULL,
	[sex] [nvarchar](1) NULL,
	[userType] [nvarchar](1) NULL,
	[depID] [nvarchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Choices]  WITH CHECK ADD  CONSTRAINT [FK__Choices__q_ID__5441852A] FOREIGN KEY([q_ID])
REFERENCES [dbo].[Question] ([questionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Choices] CHECK CONSTRAINT [FK__Choices__q_ID__5441852A]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [c4] FOREIGN KEY([ins_ID])
REFERENCES [dbo].[Instructor] ([insID])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [c4]
GO
ALTER TABLE [dbo].[Ins_Crs]  WITH CHECK ADD FOREIGN KEY([crs_ID])
REFERENCES [dbo].[Course] ([cID])
GO
ALTER TABLE [dbo].[Ins_Crs]  WITH CHECK ADD FOREIGN KEY([ins_ID])
REFERENCES [dbo].[Instructor] ([insID])
GO
ALTER TABLE [dbo].[Instructor]  WITH CHECK ADD  CONSTRAINT [c3] FOREIGN KEY([insID])
REFERENCES [dbo].[Userr] ([id])
GO
ALTER TABLE [dbo].[Instructor] CHECK CONSTRAINT [c3]
GO
ALTER TABLE [dbo].[St_Ex_Ch]  WITH CHECK ADD FOREIGN KEY([Exam_ID])
REFERENCES [dbo].[Exam] ([Exam_ID])
GO
ALTER TABLE [dbo].[St_Ex_Ch]  WITH CHECK ADD  CONSTRAINT [FK__St_Ex_Ch__questi__5AEE82B9] FOREIGN KEY([questionID])
REFERENCES [dbo].[Question] ([questionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[St_Ex_Ch] CHECK CONSTRAINT [FK__St_Ex_Ch__questi__5AEE82B9]
GO
ALTER TABLE [dbo].[St_Ex_Ch]  WITH CHECK ADD FOREIGN KEY([Std_ID])
REFERENCES [dbo].[Student] ([stuID])
GO
ALTER TABLE [dbo].[Std_Crs]  WITH CHECK ADD FOREIGN KEY([crs_ID])
REFERENCES [dbo].[Course] ([cID])
GO
ALTER TABLE [dbo].[Std_Crs]  WITH CHECK ADD FOREIGN KEY([std_ID])
REFERENCES [dbo].[Student] ([stuID])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [c2] FOREIGN KEY([stuID])
REFERENCES [dbo].[Userr] ([id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [c2]
GO
ALTER TABLE [dbo].[Topic]  WITH CHECK ADD FOREIGN KEY([crs_ID])
REFERENCES [dbo].[Course] ([cID])
GO
ALTER TABLE [dbo].[Userr]  WITH CHECK ADD  CONSTRAINT [FK_Userr_Department] FOREIGN KEY([depID])
REFERENCES [dbo].[Department] ([depID])
GO
ALTER TABLE [dbo].[Userr] CHECK CONSTRAINT [FK_Userr_Department]
GO
USE [master]
GO
